<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<h5>Attendees</h5>
<ul>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.name %></li>
  <% end %>
</ul>


<% if user_signed_in? %>
  <% if @event.creator_id == current_user.id %>
    <%= link_to 'Edit', edit_event_path %>
  <% else %>
    <% unless @event.attendee_ids.include?(current_user.id) %>
      <%= link_to 'Attend', event_path(@event) + "/attend" %>
    <% end %>
  <% end %>
<% end %>
